* {
  margin: 0 auto;
}
.App {
  background-color: #fafafa;
}
.loading {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.story_header {
  max-width: 500px;
  display: flex;
  font-size: 0.8em;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
}
